/* Coolors Exported Palette - coolors.co/011627-fdfffc-2ec4b6-e71d36-ff9f1c */

/* this one is also useful
https://color.adobe.com/explore/?filter=most-used&time=all 
*/

$white: rgba(253, 255, 252, 1);
$blue:  rgba(1, 25, 39, 1);
$yellow:rgba(255, 159, 28, 1);
$green: rgba(46, 196, 182, 1);
$red:   rgba(231, 29, 54, 1);

$primary:   $blue;
$secondary: $yellow;
$tertiary:  $green;
$accent:    $red;

// Grey family
$white :        $white;
$gray:        #B9BAB8;
$grayLighter:   lighten($gray, 10%);
$grayLight:     lighten($gray, 5%);
$grayDark:      darken($gray, 5%);
$grayDarker:    darken($gray, 10%);

// Primary variations
$primaryLighter:   lighten($primary, 10%);
$primaryLight:     lighten($primary, 5%);
$primaryDark:      darken($primary, 5%);
$primaryDarker:    darken($primary, 10%);

// Secondary variations
$secondaryLighter:   lighten($secondary, 10%);
$secondaryLight:     lighten($secondary, 5%);
$secondaryDark:      darken($secondary, 5%);
$secondaryDarker:    darken($secondary, 10%);

// Tertiary variations
$tertiaryLighter:   lighten($tertiary, 10%);
$tertiaryLight:     lighten($tertiary, 5%);
$tertiaryDark:      darken($tertiary, 5%);
$tertiaryDarker:    darken($tertiary, 10%);

// Primary variations
$accentLighter:   lighten($accent, 10%);
$accentLight:     lighten($accent, 5%);
$accentDark:      darken($accent, 5%);
$accentDarker:    darken($accent, 10%);