// all sizings

// Typography sizings
$baseFontSize:          16px;
$baseLineHeight:        20px;

$fontWeightNormal:      500;
$fontWeightLight:       100;
$fontWeightSemiLight:   300;
$fontWeightSemiBold:    700;
$fontWeightBold:        900;

$fontSizeLarge:         $baseFontSize * 1.25; // 20px
$fontSizeSmall:         $baseFontSize * 0.875; // 14px
$fontSizeMini:          $baseFontSize * 0.75; // 12px


// buton sharpening
